<div class="container">
  <div class="row article-highlight-spacing">
    <div id="article_show" class="col-md-7 article-outline-show">
      <h3><a href="<%= @article.url %>"><%= @article.article_title %></a></h3>
      <div>
        <p><%= @article.content.html_safe %></p>
         <%= link_to "Delete Article", "/articles/#{ @article.id }", method: :delete, class: "btn btn-danger"%>
      </div>
    </div>

    <div class="col-md-4 highlight-outline">
      <h3 id="header-text">Highlights</h3>
      <div id="scroll-highlights">
        <div>
          <span id="selection"></span>
          <span hidden id="showUserId"><%= current_user.id %></span>
          <span hidden id="showArticleId"><%= @article.id %></span>
          <button onclick="multiFunction()" class="btn btn-primary">Save Highlight</button>
          <!-- should auto update highlight when you click "Save Highlight" button -->
        </div>
        <div id="refreshHighlights">
          <% @article.highlights.reverse_each do |highlight| %>
            <div>
              <p id="show-highlights"><%= highlight.selection %> <%= link_to " ", "/highlights/#{ highlight.id }", method: :delete, class: "glyphicon glyphicon-trash"%></p>

            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>