<div class="container container-padding">
  <div class="row article-highlight-spacing">
    <div id="article_show" class="col-md-7 article-outline-show">
      <h3><a href="<%= @article.url %>"><%= @article.article_title %></a></h3>
      <div>
        <p><%= @article.content.html_safe %></p>
         <%= link_to "Delete Article", "/api/v1/articles/#{ @article.id }", method: :delete, class: "btn btn-danger"%>
      </div>
    </div>

    <div class="col-md-4 highlight-outline">
      <h3 id="header-text">Highlights</h3>
      <div id="scroll-highlights">
        <div>
          <span id="selection"></span>
          <span hidden id="showUserId"><%= current_user.id %></span>
          <span hidden id="showArticleId"><%= @article.id %></span>
          <button onclick="multiFunction()" class="btn btn-primary">Save Highlight</button>
          <!-- should auto update highlight when you click "Save Highlight" button -->
        </div>
        <div id="refreshHighlights">
          <% @article.highlights.reverse_each do |highlight| %>
            <div>
              <p id="show-highlights"><%= highlight.selection %> <%= link_to " ", "/api/v1/highlights/#{ highlight.id }", method: :delete, class: "glyphicon glyphicon-trash"%></p>

            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

<!--
        <div class="col-md-12">
          <div class="section-title text-center">
            <h2>Featured Articles</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="feature-full-2col">
          <% @articles.each do |article| %>
            <div class="f-hotel">
              <div class="image">
                <% if article.image = "" %>
                  <img src="http://www.kalahandi.info/wp-content/uploads/2016/05/sorry-image-not-available.png" style="height: 100%; width: 100%;">
                <% else %>
                  <img src="<%= article.image %>" style="height: 100%; width: 100%;">
                <% end %>
              </div>
              <div class="desc">
                <h3><%= article.article_title %></h3>
                <p><%= article.summary %></p>
                <p><a href="/api/v1/articles/<%= article.article_title %>" class="btn btn-warning btn-luxe-warning">Go to Article!<i class="ti-angle-right"></i></a></p>
              </div>
            </div>
            <% end %>
        </div>
      </div>
-->